* {
  box-sizing: border-box
}

body, html {
  padding: 0;
  margin: 0;
  max-height: 100%;
}
pre {
  overflow: auto;
}

input, textarea {
  width: 100%
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
}
button {
  padding: .5rem;
  cursor: pointer;
}
button.active {
  position: relative;
}
button:disabled {
  cursor: default;
}
button span {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0;
}

li > p {
  display: block;
  margin-top: -1rem !important;
}
p + ol {
  margin-top: 0
}
p + ul {
  margin-top: 0
}

menu {
  margin: 0;
  padding: 0;
  cursor: initial;
}


ul {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

table th, table td {
  font-size: .9rem;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
table td {
  vertical-align: top;
}

/* Checkboxes */
input[type=checkbox]+label, input[type=radio]+label {
  cursor: pointer
}
input[type=checkbox]+label {
  padding-left: 0.5rem;
}

input[type=checkbox]+label:before {
  height: 20px;
  width: 20px;
  text-align: center;
}
input[type=checkbox]:checked+label:after {
  left: -12px;
}

input[type=radio]+label:before {
  height: 20px;
  width: 20px;
  background-size: 20px !important;
}
input[type=radio]:checked+label:after {
  top: 6px;
  left: -12px;
  height: 8px;
  width: 8px;
  background-size: 8px !important;
}